body{
display: block;
margin-top: 200px;
background-color: #bc1c2c;

}


form {
	width: 450px;
	height: 280px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #bc1c2c;
	border-radius: 5px;
	background-color: #ee020200;
	color: #fdf8f8;
	font-family: 'Candal', sans-serif;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Candal', sans-serif;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

button[type="submit"] {
	background-color: #9c2121;
	color: #fff;
	padding: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	
}

button[type="submit"]:hover {
	background-color: #d39499;
}
